<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
ErrorDocument 404 http://nichirinshin.info/404
ErrorDocument 403 http://nichirinshin.info/403
<Files ~ "^\.ht">
deny from all
</Files>
</IfModule>
